extends layout

block content
	div.container
		div.row
			h1 Vote!
		if randomVideos.length > 0
			div.row
				for video in randomVideos
					div.col-xs-6
						div: h2 #{video.title}
						iframe(width="100%" height="315" src= video.url frameborder="0" allowfullscreen)
						div #{video.description}
						div Submitted by #{video.name}
						div Votes: #{video.votes}
						form(method="post" action="/vote/" + randomVideos.indexOf(video))
							button.btn.btn-default#vote-btn1(type="submit" ) Vote
			div.row
				div.col-xs-12
					a.btn.btn-default#nextVideos(href='/nextVideos') Next Videos
		else
			h3 There are no submissions yet.